.titulo {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin-top: 40px;
}

.formularioIMC {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

label {
    font-size: 18px;
    margin: 10px;
}

input {
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

button {
    font-size: 18px;
    padding: 10px;
    background-color: #1abc9c;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.2s ease;
}

button:hover {
    background-color: #148f77;
}

#resultado {
    font-size: 18px;
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

#resultado h2 {
    margin-top: 0;
}

#resultado p {
    margin: 10px 0;
}

.resultado-baixo {
    color: #2ecc71;
    font-weight: bold;
}

.resultado-normal {
    color: #3498db;
    font-weight: bold;
}

.resultado-alto {
    color: #f1c40f;
    font-weight: bold;
}

.resultado-obesidade {
    color: #e74c3c;
    font-weight: bold;
}